{% extends 'base.html.twig' %}

{% block title %}Hello ContactoController!{% endblock %}

{% block body %}
    <h1>Contacto</h1>

    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger">{{ flash_message }}</div>
    {% endfor %}

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enviar</button>
    {{ form_end(form) }}
{% endblock %}
